# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/build
/dist

# IDE specifications
/.idea

# htaccess file
.htaccess

npm-debug.log*

# large files
/src/assets

