/*------------------ COLOURS ----------------------*/

$font-color: #181818;
$primary-color: #181818; //282828
$secondary-color: #fff;
$tertiary-color: #0E0E0E;
$accent-color: #BF1919;
$hover-color: #282828; //lighten($primary-color, 10%);